<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mPy Player</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="app">
        <h1>mPy Player</h1>
        <div id="currentlyPlaying">here there is just silence</div>
        <div id="controls">
            <button id="prevBtn">Previous</button>
            <button id="playBtn">Play</button>
            <button id="stopBtn">Stop</button>
            <button id="nextBtn">Next</button>
        </div>
        <div id="track-container">
            <h2>Tracks</h2>
            <ul id="trackList"></ul>
        </div>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
